body{
    background: linear-gradient(60deg,  gray, orange);
    position: relative;
    font-family: 'Lora', serif;
}
h1{
    text-align: center;
    color: white;
}
.recipe-block1, .recipe-block2, .recipe-block3{
    width: 300px;
    float: left;
    text-align: center;
}
.recipe-block1{
    border-radius: 10px 0px 0px 10px;
}
.recipe-block3{
    border-radius: 0px 10px 10px 0px;
}

a{
    text-decoration: none;
    font-size: 25px;
}
/*//position//*/
.options{
    position: absolute;
    top: 30%;
    left: 15%;
}
span{
    font-size: 25px;
    color: white;
}
/*//hover//*/
.recipe-block1:hover{
    width: 380px;
}
.recipe-block2:hover{
    width: 360px;
}
.recipe-block3:hover{
    width: 360px;
}
.recipe-block1, .recipe-block2, .recipe-block3{
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}
/*//animations//*/
h1{
    position: relative;
    top: -300px;
    animation-name: arrive-h1;
    animation-duration: 2s;
    animation-delay: 1.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.recipe-block1, .link-text1{
    position: relative;
    animation-name: arrive-left;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.recipe-block2, .link-text2{
    position: relative;
    animation-name: arrive-top;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.recipe-block3, .link-text3{
    position: relative;
    animation-name: arrive-right;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

/*//keyframes//*/
@keyframes arrive-left{
    0% {left: -300px; opacity: 0}
    50% {left: 0px; opacity: 0.5}
    100% {left: 0px; opacity: 1}
}
@keyframes arrive-right{
    0% {right: -300px; opacity: 0}
    50% {right: 0px; opacity: 0.5}
    100% {right: 0px; opacity: 1}
}
@keyframes arrive-top{
    0% {top: -300px; opacity: 0}
    50% {top: 0px; opacity: 0.5}
    100% {top: 0px; opacity: 1}
}
@keyframes arrive-h1{
    0% {top: 0px;  opacity: 0}
    50% {top: 5px;  opacity: 0.5}
    100% {top: 10px;  opacity: 1}
}